@import "tailwindcss";

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #001230;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #353535;
}